<!-- Navigation Bar w/ Register + Login -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">Gator Trader</a> -->

      <h2>Gator Trader</h2> 

      <ul class="nav navbar-nav navbar-right">
        <div class="search-container">
          <form action="/search">
            <input type="text" placeholder="Search" name="search">
            <button type="submit">Submit</button>
          </form>
        </div>
      </ul>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/RegPage"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/LoginPage"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<!-- Navigation Bar w/ Categories -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        {{#each categories}}
        <li><a href="/search?browse={{this.category_id}}">{{this.category_name}}</a></li>
        {{/each}}
        {{!-- <li><a href="#">Clothing</a></li>
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Home & Life</a></li>
        <li><a href="#">More!</a></li>
        <li><a href="#">About</a></li> --}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>