<link rel="stylesheet" href="/stylesheets/sidebar.css">
<div class="sidebar" >
      <div class="sidebar-box">
      	<h3>Campus Map</h3>
      	<a href="http://www.sfsu.edu/~sfsumap/"><img src="images/campusmap.png" alt="campus map"></a>
      </div>

      <div class="sidebar-box">
      	<h3>Pick-Up Locations</h3>
      	University PD Station (<a href="http://www.sfsu.edu/~sfsumap/northwest.htm">D4</a>)
      	<br>Library Peet's Coffee (<a href="http://www.sfsu.edu/~sfsumap/southeast.htm">I7</a>)
      	<br>C. Chavez Student Center (<a href="http://www.sfsu.edu/~sfsumap/southeast.htm">H7</a>)
      </div>

      <div class="sidebar-box">
      	<h3>University Police Department</h3>
      		In case of EMERGENCY dial 9-1-1
      		<br> from a campus phone line or
      		<br> (415) 338 -2222 from a cell phone.
      		<br>
      		<br> Non-emergency: (415) 338-7200
      		<br> Station located on North State Drive
      		<br> D4 on the map
      		<br> <a href="https://upd.sfsu.edu/">website</a>
      </div>

      <div class="sidebar-box">
      	<h3>Administration Contact</h3>
      	Site Administrator:
      	<br>Admin@GATORTRADER.COM
      </div>

    </div> <!-- end sidebar 1 -->