<!DOCTYPE html>
<html lang="en">
<head>  

  {{#if title}}
  <title>{{title}}</title>
  {{/if}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/search-header.css">

  {{#if stylesheet}}
  <link rel="stylesheet" href="/stylesheets/{{stylesheet}}.css">
  {{/if}}
  {{#if script}}
  <script type="text/javascript" src="/javascript/{{script}}.js"></script>
  {{/if}}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131181294-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131181294-1');
  </script>
  
</head> 
<body>
  <div style="color:#000; text-align:center;">SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018. For Demonstration Only.</div>
  {{>search-header}}
  {{{body}}}
</body>
</html>
