<!--
// about.handlebars
// csc648-01 fall2018 SFSU
// team 02
--->
<style>
	
	#heading_Description{
		font-family: Sans-serif;
	}
	#Heading{
		text-align: center;
	}
	.subHeading{
		text-align: center;
	}
	#teamNumber{
		text-align: center;
	}
	#teamMembers{
		margin: auto;
		width: 50%;
		height: 50%;
		padding: 5px;	
	}
	
	.users{
		margin: auto;
		margin-top: 2px;
		margin-bottom: 5px;
		border: 2px	solid black;
		width: 200px;
		height:30px;
		padding: 5px;
		text-align: center;
		font-family: Sans-serif;
	}
	
</style>
<div id = "heading_Description">
		<h1 id= "Heading">Software Engineering Class SFSU</h1>
		<h2 class= "subHeading">Fall 2018</h2>
		<h2 class= "subHeading">Section - 01</h2>
		<h2 id= "teamNumber"> Team - 02</h2>
	</div>
	
	<div id ="teamMembers">
		<div class ="users"><a href="\About\Gayatri">Gayatri Pise</a></div>
		<div class ="users"><a href="\About\Divam">Divam Shah</a></div>
		<div class ="users"><a href="\About\Peter">Peter Malolepszy</a></div>
		<div class ="users"><a href="\About\Dylan">Dylan Wright</a></div>
		<div class ="users"><a href="\About\Moses">Moses Martinez</a></div>
		<div class ="users"><a href="\About\Charul">Charul Ramtekkar</a></div>
		<div class ="users"><a href="\About\Regine">Regine Manuel</a></div>
	</div>