

<div class="body flex-container">
	<div class="item about-lead about-member">
		<img src="/images/gayatri.jpg"/>
		<h2>Gayatri Pise</h2>
		<h4>Team Lead</h4>
		<i>"Simplicity is prerequisite for reliability."</i>
	</div>
	<div class="item about-front about-member">
		<img src="/images/peter.jpg"/>
		<h2>Peter Malolepszy</h2>
		<h4>Front End Lead</h4>
		<i>"'Don't do today that you can put off till tomorrow' ended up being terrible advice."</i>
	</div>
	<div class="item about-back about-member">
		<img src="/images/divam.jpg"/>
		<h2>Divam Shah</h2>
		<h4>Back End Lead</h4>
		<i>"Simple Lives Extraordinary Lifestyle."</i>
	</div>
	<div class="item about-front about-member">
		<img src="/images/moses.jpg"/>
		<h2>Moses Martinez</h2>
		<h4>Front End Team</h4>
		<i>"I am too drunk to try this fried chicken."</i>
	</div>
	<div class="item about-back about-member">
		<img src="/images/dylan.jpg"/>
		<h2>Dylan Wright</h2>
		<h4>Back End Team</h4>
		<i>"Life is pain and suffering. But it's worth it, except when it's not."</i>
	</div>
	<div class="item about-front about-member">
		<img src="/images/regine.jpg"/>
		<h2>Regine Manuel</h2>
		<h4>Front End Team</h4>
		<i>"I'm on a seafood diet, I see food and I eat it."</i>
	</div>
	<div class="item about-back about-member">
		<img src="/images/charul.jpg"/>
		<h2>Charul Ramtekkar</h2>
		<h4>Back End Team</h4>
		<i>"The pain you feel today is the strength you feel tomorrow." </i>
	</div>
</div>
