<!--
// charul.handlebars
// csc648-01 fall2018 SFSU
// team 02
--->

<style>
  h2 {
      font-style: bold;
  }
  h4 {
    font-style:italic;
  }
  .header {
      background-color: #990000;
      color: #ffffff;
  }
  .body {
      background-color: #ffffcc;

  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .center-block{
  	  display: block;
  	  margin-right: auto;
  	  margin-left: auto;
  }
  </style>

  <div class="container-fluid header">
  	<div class="row">
  		<div class="col-sm-2"></div>
  		<div class="col-sm-3">
    			<img src="img/Profile.jpeg" class="img-circle center-block" alt="profile" width="250"width="250" ></div>
      	<div class="col-sm-2 center-block text-center">
    			<br/><h3>Charul Ramtekkar</h3>
    			<h4>Back-End Team Member</h4>
    		</div>
  	</div>
  </div>


  <div class="container-fluid ">
  	<div class="row">
  		<div class="col-sm-2"></div>
  		<div class="col-sm-3">
    <h3>Hobbies</h3>
    <ul>
    	<li>Sketching</li>
    	<li>Dancing</li>
    	<li>Photography</li>
      <li>Netflix-ing</li>
     </p>
  </ul>
  </div>



  <div class="col-sm-1"><br/></div>
    	<div class="col-sm-3">
    	<p>

    		<h3>
          <quoteblock>"The pain you feel today is the strength you feel tomorrow."
            <br/>-Charul Ramtekkar</quoteblock>
          </h3>
  </p>
  </div>
