
<div class="col-sm-5" style="background-color:#EBEBEB;">

<br>
<h2><center>Item Details: </center></h2>
<br>

<center><img class="img-responsive" src="images/IMG_3179.jpg" alt="Chania" style="width:400px;"></center>

<br><br><br>


</div>

<div class="col-sm-7" style="background-color:#d3d3d3;">

<br><br><br><br><br>
<h3>Item ID: 1234567890</h3>

<h3>Item Name: Motivational Poster</h3>
<h3>Price: $25.99</h3>
<h3>Category: Home</h3>
<h3>Description: 18*11 poster. No frame.</h3>

<br><br><br><br><br><br><br><br>

<button type="button" class="btn btn-warning pull-right">Contact Seller</button>
<br>
<br>
<br>

</div>