<!--
// gayatri.handlebars
// csc648-01 fall2018 SFSU
// team 02
--->

<style>
  h2 {
      font-style: bold;
  }
  h4 {
    font-style:italic;
  }
  .header {
      background-color: #8A2BE2;
      color: #ffffff;
  }
  .body {
      background-color: #fff5cc;

  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .center-block{
  	  display: block;
  	  margin-right: auto;
  	  margin-left: auto;
  }
  </style>
<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
  			<img src="/img/gayatri.jpeg" class="img-circle center-block" alt="profile" width="150" width="250" ></div>
        <div class="col-sm-1"></div>
    	<div class="col-sm-3 center-block text-center">
        <br/><h2>Gayatri Pise</h2>
  			<h3>Team Lead</h3>

  		</div>
	</div>
</div>


<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
      <h3> Hobbies</h3>
     <ul>
     	<li>Playing Badminton</li>
     	<li>Reading books</li>
     	<li>Exploring new places</li>
       <li>Programming</li>
       <li>Cooking Food</li>
       <li>Listening to Music, etc. </li> </p>
   </ul>

</div>
<div class="col-sm-1"></div>
  	<div class="col-sm-3">
  	<p>
  		<h3>
        <quoteblock><em>"Simplicity is prerequisite for reliability."</em>
     <br/>- Gayatri Pise </quoteblock>
      </h3>
</p>
</div>
