<!-- body w/ carousel + sidebar -->
<div class="container-fluid">    
  
  <div class="row">

    <!-- static image column w/ about section-->
    <div class="col-sm-9 static-column">
    
      
    <h3>About This Site</h3>
    <br>
    <p>GatorTrader website is a platform for San Francisco State University students to sell their unused items, old class materials, etc. as well as buy essential items at a cheaper rate compared to the market price.The basic objective of developing this website is to help students build relationships within the community, save their money, and time. Moreover, this website builds direct communication between seller and buyer. This unique approach will eliminate long wait times and no shipping costs would be involved.</p>

    <center><h4>Books</h4><center>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p></p>    
    </div>

    <center><h4>Clothes</h4><center>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p></p>    
    </div>

    <center><h4>Electronics</h4><center>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p></p>    
    </div>

     <center><h4>Games</h4><center>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p></p>    
    </div>

    </div> <!-- end static image column -->


    <!-- sidebar 1: Campus Map Image -->
    <div class="col-sm-3 sidebar-box" >
      <h4>Campus Map Image</h4>
      <br><br><br><br><br><br>

      <h4>Pick-Up Locations</h4>
      <br><br><br><br><br><br>

      <h4>Campus Police</h4>
      <br><br><br><br><br><br>

      <h4>Administration Contact</h4>
      <br><br><br><br><br><br>

    </div> <!-- end sidebar 1 -->
    
    <!-- sidebar 2: Pick-Up Locations 
    <div class="col-sm-3 sidebar-box1" >
      
    </div> <!-- end sidebar 2 

    <!-- sidebar 3: Campus Police 
    <div class="col-sm-3 sidebar-box1" >
     
    </div> <!-- end sidebar 3 -->

    <!-- sidebar 4: Administration Contact 
    <div class="col-sm-3 sidebar-box" > --?
      
    </div> <!-- end sidebar 4 -->

  </div> <!-- end row div class -->

</div> <!-- end of static image column -->