<!-- body w/ carousel + sidebar -->
<div class="container-fluid">

  <div class="row">

    <!-- static image column w/ about section-->
    <div class="col-sm-9 static-column">

      <br>

      <div class="paragraph">


        </h2>
        <p>GatorTrader website is a buy and sell platform for San Francisco State University students.</p>
      </div>

      <!-- Image Rows -->

      {{#each data}}
      {{#if this.items}}
      <div class="category">
        <center>
          <h4><b>Recent additions in <a href="search?browse={{this.category_id}}">{{this.category_name}}</a> you may like </b></h4>
        </center>
        <div class="row justify-content-around img-set">
          {{#each this.items}}
          <div class="col-3">
          <a target="_blank" href="/item/{{this.item_id}}"><img src="{{this.item_image_thumbnail}}" class="img-repsonsive"
              alt="Image"></a>
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{/each}}

    </div> <!-- end static image column -->

    <!-- home sidebar -->
    {{>sidebar}}


  </div> <!-- end row div class -->

</div> <!-- end of static image column -->
