<!-- body w/ carousel + sidebar -->
<div class="container-fluid">    
  
  <div class="row">

    <!-- carousel column -->
    <div class="col-sm-9 carousel-column" style="background-color:#EBEBEB;">
    
      
      <h3>About This Site</h3>
      <br>
      <p>Gator Trader is... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><br>  



    
    </div> <!-- end carousel column -->


    <!-- sidebar 1: Campus Map Image -->
    <div class="col-sm-3 sidebar-box" >
      <h4>Campus Map Image</h4>
    </div> <!-- end sidebar 1 -->
    
    <!-- sidebar 2: Pick-Up Locations -->
    <div class="col-sm-3 sidebar-box" >
      <h4>Pick-Up Locations</h4>
    </div> <!-- end sidebar 2 -->

    <!-- sidebar 3: Campus Police -->
    <div class="col-sm-3 sidebar-box" >
      <h4>Campus Police</h4>
    </div> <!-- end sidebar 3 -->

    <!-- sidebar 4: Administration Contact -->
    <div class="col-sm-3 sidebar-box" >
      <h4>Administration Contact</h4>
    </div> <!-- end sidebar 4 -->

  </div> <!-- end row div class -->

</div> <!-- end of carousel column -->