<body>
    <br>
<div class="cont">
    <h2 class="centered">Log In</h2>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <div class="row center-block ">

            <!-- User email form-->
            <div class="form-group row centered screenResize fontSizing">
                    <label for="UserEmail" class="col-sm-1 col-form-label fontSpacing">Email</label>
                    <div class="col-sm-5">
                      <input type="email" class="form-control" name="email" id="UserEmail" placeholder="Email" pattern=".+@mail.sfsu.edu"maxlength="34"
                      oninvalid="setCustomValidity('Invalid Email. Must be @mail.sfsu.edu ')" onchange="try{setCustomValidity('')}catch(e){}"
                      required>
                    </div>
            </div>
            <!-- User  password form-->
            <div class="form-group row centered screenResize fontSizing">
                    <label for="UserPswd" class="col-sm-1 col-form-label fontSpacing">Password</label>
                    <div class="col-sm-5">
                      <input type="password" class="form-control" name="password" id="UserPswd" placeholder="Password" minlength="8" maxlength="20"
                      oninvalid="setCustomValidity('Password must be alphanumeric and between 8-20 characters long')" onchange="try{setCustomValidity('')}catch(e){}"
                      required>
                    </div>
            </div>
              <!-- Links to registraion and password reset-->
            <div>
                <center><a href="" class="centered">Forgot your password ? </a>
                 <br>New to Gator Trader ?<a href="/register"> Register Here</a></center>
            </div>
            <br><br>
            <div align="center">
                    <button class="btn btn-primary btn-lg" onclick="location.href='/home/';" style="font-size:175%; background-color:red;">Cancel</button>
                    <span class="vanish" style="margin-left:20%; margin-right:20%;"></span>
                    <button type="submit" class="btn btn-primary btn-lg" style="font-size:175%; background-color:#00C90D;">Log In</button>
                </div>
            <br>
        </div>
    </form>
</div>
</body>
