<!--
// moses.handlebars
// csc648-01 fall2018 SFSU
// team 02
--->
<style>
  h2 {
      font-style: bold;
  }
  h4 {
    font-style:italic;
  }
  .header { 
      background-color: #bac0be;
      color: #000000;
  }
  .body { 
      background-color: #ffffffff;
      
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .center-block{
  	  display: block;
  	  margin-right: auto;
  	  margin-left: auto;
  }
  </style>
</head>
<body class="body">


<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
  			<img src="/img/moses.jpg" class="img-circle center-block" alt="profile" width="150"width="250" ></div>
    	<div class="col-sm-2 center-block text-center">
  			<br/><h3>Moses Martinez</h3>
  			<h4>Front End Team Player</h4>
  		</div>
	</div>
</div>


<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
  <h3>Skills/Hobbies</h3>
  <ul>
    <li>Kittens</li> 
    <li>Magnets</li>
    <li>Milk Steak</li>
    <li>Ghouls</li>
    <li>Cheese</li>
    <li>Embedded System</li>   </p>
</ul>
</div>
<div class="col-sm-1"><br/></div>
  	<div class="col-sm-3">
  	<p>

  		<h3><quoteblock>"I am too drunk to taste this fried chicken"<br/>- Colonel Sanders </quoteblock></h3>
</p>
</div>