<style>
    .header {
        background-color: #850b0b  ;
        color: #ffffff;
    }
.body {
    background-color: #e5e5e5;
    
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
</style>

<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
  			<img src="Profile.jpeg" class="img-circle center-block" alt="profile" width="250"width="250" ></div>
    	<div class="col-sm-2 center-block text-center">
  			<br/><h3>Regine Manuel</h3>
  			<h4>Front End Team Player</h4>
  		</div>
	</div>
</div>


<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
  <h3>Skills and Hobbies</h3>
  <ul>
  	<li>Doodling</li>
  	<li>Skateboarding</li>
  	<li>Eating</li>
    <li>Catching Pokémon</li>
   </p>
</ul>
</div>



<div class="col-sm-1"><br/></div>
  	<div class="col-sm-3">
  	<p>

  		<h3>
        <quoteblock>"I'm on a seafood diet, I see food and I eat it."
          <br/>-Regine Manuel</quoteblock>
        </h3>
</p>
</div>

