<!-- Left-aligned media object -->
<div class="media">
  <div class="media-left">
    <img src="images/img_avatar1.png" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h3 class="media-heading">Item Name: Nice Tie</h3>
    <h4>Category: Clothing</h4>
    <h4>Price: $12.34</h4>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-default">View Details</button>
    <button type="button" class="btn btn-warning pull-right">Contact Seller</button>
  </div>
</div>
<hr>

<!-- Left-aligned media object -->
<div class="media">
  <div class="media-left">
    <img src="images/img_avatar1.png" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h3 class="media-heading">Item Name: Biography</h3>
    <h4>Category: Books</h4>
    <h4>Price: $45.67</h4>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-default">View Details</button>
    <button type="button" class="btn btn-warning pull-right">Contact Seller</button>
  </div>
</div>
<hr>

<!-- Left-aligned media object -->
<div class="media">
  <div class="media-left">
    <img src="images/img_avatar1.png" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <h3 class="media-heading">Item Name: Boyfriend</h3>
    <h4>Category: Home</h4>
    <h4>Price: $89.01</h4>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-default">View Details</button>
    <button type="button" class="btn btn-warning pull-right">Contact Seller</button>
  </div>
</div>
<hr>