<div style="padding-left:16px;padding-top:50px;text-align: center;font-size: 20px;">
    <h2><b>CSC 648-848 Fall  2018</b></h2>
    <h3><b>Section 01 Team 02</b></h3>
    <p><b>Vertical SW prototype</b></p>
    <p><h2>Send Message</h2></p>
    <br>
    <br>

    <form action="/send_message" method="post" enctype="multipart/form-data">
        <h3>Enter Message</h3>

        <input type="text" name="message"><br/><br/>
        <input type="submit">
    </form>
</div>