<!DOCTYPE html>
<html>
  <head>
    <title>Vertical</title>
  </head>
  <body>
    <h3>Enter search:</h3>
    <form action="/vertical" method="GET">
        <input ype="text" name="search">
        <input type="submit">
    </form>
  </body>
</html>
