
<body class="body">
<br>
<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  	<img src="images/divam.jpg" class="img-circle center-block" alt="profile" width="200"width="200" >
    </div>
    <div class="col-sm-1"></div>
    	<div class="col-sm-2 center-block text-center">
        <br>
		    <br/>
        <h2 style="color:black;">Divam Shah</h2>
  			<h3 style="color:black;">Back End Lead</h3>
      </div>
	</div>
</div>
<br><br>
<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  <p><strong>Hobbies</strong></p>
  <ul>
  	<li>Cooking</li>
  	<li>Traveling</li>
  	<li>Music</li>
  </ul>
</div>
<div class="col-sm-1"><br/></div>
<div class="col-sm-3" >
  <p>
    <quoteblock><i>"Simple Lives Extraordinary Lifestyle."</i>
      <br/>
      <p class="author">- Divam Shah</p>
    </quoteblock>
  </p>
</div>

</body>
