
<body class="body">
<br>
<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  	<img src="images/dylan.jpg" class="img-circle center-block" alt="profile" width="200"width="200" >
    </div>
    <div class="col-sm-1"></div>
    	<div class="col-sm-2 center-block text-center">
        <br>
		    <br/>
        <h2 style="color:black;">Dylan Wright</h2>
  			<h3 style="color:black;">Back End Team Member</h3>
      </div>
	</div>
</div>
<br><br>
<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  <p><strong>Hobbies</strong></p>
  <ul>
  	<li>Petting Cats</li>
  	<li>Drinking Beer</li>
  	<li>Programming Stuff</li>
  </ul>
</div>
<div class="col-sm-1"><br/></div>
<div class="col-sm-3" >
  <p>
    <quoteblock><i>"Life is pain and suffering <br> But it's worth it, except when it's not."</i>
      <br/>
      <p class="author">- Dylan Wright</p>
    </quoteblock>
  </p>
</div>

</body>
