
<body class="body">
<br>
<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  	<img src="images/gayatri.jpg" class="img-circle center-block" alt="profile" width="200"height="215" >
    </div>
    <div class="col-sm-1"></div>
    	<div class="col-sm-2 center-block text-center">
        <br>
		    <br/>
        <h2 style="color:black;">Gayatri Pise</h2>
  			<h3 style="color:black;">Team Lead</h3>
      </div>
	</div>
</div>
<br>
<br>
<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  <p><strong>Hobbies</strong></p>
  <ul>
  	<li>Playing Badminton</li>
  	<li>Programming</li>
    <li>Cooking Food</li>
  </ul>
</div>
<div class="col-sm-1"><br/></div>
<div class="col-sm-3" >
  <p>
    <quoteblock><i>"Simplicity is prerequisite for reliability."</i>
      <br/>
      <p class="author">- Gayatri Pise</p>
    </quoteblock>
  </p>

</div>

</body>
