
<body class="body">
<br>
<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  	<img src="images/peter.jpg" class="img-circle center-block" alt="profile" width="200"width="200" >
    </div>
    <div class="col-sm-1"></div>
    	<div class="col-sm-2 center-block text-center">
        <br>
		    <br/>
        <h2 style="color:black;">Peter Malolepszy</h2>
  			<h3 style="color:black;">Front End Lead</h3>
      </div>
	</div>
</div>
<br><br>
<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
		<div class="col-sm-3">
  <p><strong>Netflix Queue</strong></p>
  <ul>
    <li>Voltron - Defenders of the Universe</li>
  	<li>Black Mirror</li>
  	<li>Strange and Unusual Deaths</li>
  </ul>
</div>
<div class="col-sm-1"><br/></div>
<div class="col-sm-3" >
  <p>
    <quoteblock><i>"Don't do today that you can put off till tomorrow."</i>
      <br/>
      <p class="author">-  Peter Malolepszy</p>
    </quoteblock>
  </p>
</div>

</body>
