.ns{
	margin: 0;
	display: inline-block;
	float: left;
}
.header{
	color:white;
	background-color: grey;
	height: 150px;
	padding-top:20px;
}
.search-bar{
	width:300px;
	padding-top:20px;
	float:center;
}
.page-title{
	background-color: lightgrey;
	margin:20px;
	padding-left:10%;
	width:auto;
}
.filters{
	background-color: grey;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 60px;
	height:50px;
}
.item-list{
	background-color: lightgrey;
	padding:0;
	width:auto;
	margin-top: 20px;
}

.icon-title{
	float:left;
}

.body-table{
	align-self: center;
	/* width:97%; */
	margin:20px;
}
.spacer-cell{
	width:2%;
}
.filter-dropdown{
	margin-left: 50px;
}
.page-title h2{
	font-weight: bold;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.center{
	text-align: center;
	margin:auto;
}
.dashboard-item{
	background-color: white;
	border-style: solid;
	width:auto;
	margin:20px;
	
}
.item_image_thumbnail_btn{
	width:100px;
	height:100px;
	margin:0;
	padding:0;
}
.item_image_thumbnail{
	background-color: darkgrey;
	width:100px;
	height:100px;
	margin:0;
}
.item-status{
	border-width: 2px;
	border-style: solid;
}
.item-availability{
	border-width: 2px;
	border-style: solid;	
}
.dashboard-item-table{
	width:auto;
	margin:10px;
	width:auto;
	margin-bottom: 20px;

}
.dashboard-item-table th{
	width:100px;
	text-align: center;
	margin:20px;
}
.dashboard-item-table tr{
	width:100px;
	text-align: center;
}
.dashboard-item-table .inner{
	padding-left: 5px;
	padding-right: 5px;
	
}

.item-messages{
	width:100px;
	height:100px;
	background-color: darkgrey;
	text-align: center;
	/*top:50%;*/
	/*transform: translateY(-50%);*/
	padding-left: 8px;
	margin:0;
	border:none;
}
.message-list{
	background-color: lightgrey;
	padding:0px;
	margin-top:20px;
}

.message-box{
	background-color: white;
	margin:15px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.message-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.message-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}
.user-list{
	background-color: lightgrey;
	padding:0px;
	margin-top:20px;
}
.user-box{
	background-color: white;
	margin:15px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.user-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.user-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}

.spacer-cell{
	/*width:10vw;*/
}

.approve-btn{
	width:90px;
	background-color: lightgreen;
	border:solid black 1px;
	color:white;
	text-align: center;
}
.approve-btn:hover{
	color:black;
	background-color: yellow;

}

.deny-btn{
	width:90px;
	background-color: red;
	border:solid black 1px;
	color:white;
	text-align: center;
}

.deny-btn:hover{
	background-color: black;
}
.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 120px;
}

.tab-link:hover {
    background-color: #777;
}

/* Style the tab content */
.tab-content {
    display: none;
    
}

@media (max-width: 1200px) {
	.vanish { display: none;}
	.message-list{float:initial;}
	.user-list{float:initial;}
	.item-list{float:initial;}
}
@media (min-width: 600px) {
	.dashboard-item-table{ overflow: hidden; }

}

.view-tabs{
	margin-left: 20px;
	margin-right: 20px;
}