.ns{
	margin: 0;
	display: inline-block;
	float: left;
}
.search-bar{
	width:300px;
	padding-top:20px;
	float:center;
}
.page-title{
	background-color: green;
	color:white;
	margin:20px;
	padding-left:10%;
	width:auto;
}
.filters{
	background-color: #290834;
	
	color:white;
	font-size: 20px;
	font-weight: bold;
	
	padding:15px;
	height:50px;
	text-align: center;
}
.item-list{
	background-color: lightgrey;
	padding:0;
	/*width:auto;*/
	margin-top: 20px;
}

.icon-title{
	float:left;
}

.body-table{
	align-self: center;
	width:auto; 
	margin:20px;
	padding:0;
}

.filter-dropdown{
	position: absolute;
    right:	15vw;
    margin:	0;
    padding:0;
    transform: translateY(-5px);
	
}
.filter-dropdown button{
	background-color: orange;
}
.page-title h2{
	font-weight: bold;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.center{
	text-align: center;
	margin:auto;
}
.dashboard-item{
	background-color: white;
	border-style: solid;
	width:auto;
	margin:20px;
	
}
.item_image_thumbnail_btn{
	width:100px;
	height:100px;
	margin:0;
	padding:0;
}
.item_image_thumbnail{
	background-color: darkgrey;
	width:100px;
	height:100px;
	margin:0;
}
.item-status{
	border-width: 2px;
	border-style: solid;
}
.item-availability{
	border-width: 2px;
	border-style: solid;	
}
.dashboard-item-table{
	width:auto;
	margin:20px;

}
.dashboard-item-table th{
	width:12vw;
	text-align: center;
	margin:20px;
}
.dashboard-item-table tr{
	text-align: center;
}

.dashboard-item-table td{
	padding-right: 10px;
	padding-top: 0;
	padding-bottom:0;
}

.dashboard-item-table-wrapper{
	overflow-x: auto;
	margin:20px;
}

.item-messages{
	width:100px;
	height:100px;
	background-color: darkgrey;
	text-align: center;
	/*top:50%;*/
	/*transform: translateY(-50%);*/
	padding-left: 8px;
	margin:0;
	border:none;
}
.message-list{
	background-color: lightgrey;
	padding:0px;
	margin-top:20px;
}

.message-box{
	background-color: white;
	margin:15px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.message-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.message-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}
.user-list{
	background-color: lightgrey;
	padding-bottom:20px;
	margin-top:20px;
}
.user-box{
	background-color: white;
	margin:15px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.user-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.user-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}

.spacer-cell{
	/*width:10vw;*/
}

.item-approval-btn{
	width:90px;
	background-color: lightgreen;
	border:solid black 1px;
	color:black;
	text-align: center;
}
.item-approval-btn:hover{
	color:black;
	background-color: yellow;

}

.item-denial-btn{
	width:90px;
	background-color: tomato;
	border:solid black 1px;
	color:black;
	text-align: center;
}
.item-denial-btn:hover{
	color:black;
	background-color: yellow;

}

.remove-user-btn{
	width:auto;
	background-color: tomato;
	border:solid black 1px;
	color:black;
	text-align: center;
}
.remove-user-btn:hover{
	color:black;
	background-color: yellow;

}

.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width:50%;
}

.tab-link:hover {
    background-color: #777;
}

/* Style the tab content */
.tab-content {
    display: none;
}


.view-tabs{
	margin: 20px;
	width:auto;
	padding:0;
}

.item-name{
	white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
.item-description{
	white-space: nowrap; 
    width:11vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    
}
.item-date{
	white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.user-item-list{
	height:125px;
	width:75vw;
	overflow: auto;
	border:solid black 1px;
	margin:20px;
}