.ns{
	margin: 0;
	display: inline-block;
	float: left;
}
.header{
	color:white;
	background-color: grey;
	height: 150px;
	padding-top:20px;
}
.search-bar{
	width:300px;
	padding-top:20px;
	float:center;
}
.page-title{
	background-color: lightgrey;
	margin:20px;
	padding-left:10%;
	width:auto;
}
.filters{
	background-color: grey;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 60px;
	height:50px;
}

.item-list{
	background-color: lightgrey;
	padding:0;
	/*width:55vw;*/
}

.icon-title{
	float:left;
}
.red{
	border:solid;
	border-width: 2px;
	border-color: red;
}
.blue{
	border:solid;
	border-width: 2px;
	border-color: blue;
}
.green{
	border:solid;
	border-width: 2px;
	border-color: lightgreen;
}
.body-table{
	
	/* width:97%; */
	margin:20px;
}
.spacer-cell{
	width:2%;
}
.filter-dropdown{
	margin-left: 50px;
	
	margin-right:50px;
}
.page-title h2{
	font-weight: bold;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.center{
	text-align: center;
	margin:auto;
}
.dashboard-item{
	background-color: white;
	border-style: solid;
	width:auto;
	margin:20px;
	
}
.item_image_thumbnail_btn{
	width:100px;
	height:100px;
	margin:0;
	padding:0;
}
.item_image_thumbnail{
	background-color: darkgrey;
	width:100px;
	height:100px;
	margin:0;
}
.item-status{
	
}

.item-availability{
	
}

.dashboard-item-table{
	width:auto;
	margin:10px;
	width:auto;
	margin-bottom: 20px;
	padding-left: 20px;
	
}

.dashboard-item-table th{
	width:100px;
	text-align: center;
	margin:20px;
}

.dashboard-item-table tr{
	text-align: center;
}

.dashboard-item-table tbody{
	   
}

.item-messages{
	width:100px;
	height:100px;
	background-color: darkgrey;
	text-align: center;
	
	padding-left: 8px;
	margin:0;
}
.message-list{
	background-color: lightgrey;
	padding:0px;
}

@media (max-width: 1200px) {
    .vanish { display: none;}
    .message-list{float:initial;}
    .item-list{width:auto;}
}
@media (min-width: 600px) {
    .dashboard-item-table{ overflow: hidden; }
    
}

.message-box{
	background-color: white;
	margin:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.message-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.message-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}


/*switcher*/
.view-tabs{
	margin:20px;
}

.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    
}

.tab-link:hover {
    background-color: #777;
}

/* Style the tab content */
.tab-content {
    display: none;
    
}