.ns{
	margin: 0;
	display: inline-block;
	float: left;
}
.header{
	color:white;
	background-color: grey;
	height: 150px;
	padding-top:20px;
}
.search-bar{
	width:300px;
	padding-top:20px;
	float:center;
}
.page-title{
	background-color: lightgrey;
	margin:20px;
	padding-left:10%;
	width:auto;
}
.filters{
	background-color: grey;
	padding:15px;
	height:50px;
	text-align: center;
}
.filter-dropdown{
	position: absolute;
    right:	15vw;
    margin:	0;
    padding:0;
    transform: translateY(-5px);
	
}
.item-list{
	background-color: lightgrey;
	padding-bottom:20px;
	/*width:55vw;*/
}

.icon-title{
	float:left;
}
.red{
	border:solid;
	border-width: 2px;
	border-color: red;
}
.blue{
	border:solid;
	border-width: 2px;
	border-color: blue;
}
.green{
	border:solid;
	border-width: 2px;
	border-color: lightgreen;
}
.body-table{
	
	/* width:97%; */
	margin:20px;
}

.page-title h2{
	font-weight: bold;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.center{
	text-align: center;
	margin:auto;
}
.dashboard-item{
	background-color: white;
	border-style: solid;
	width:auto;
	margin:20px;
	
}
.item_image_thumbnail_btn{
	width:100px;
	height:100px;
	margin:0;
	padding:0;
	float: left;
}
.item_image_thumbnail{
	background-color: darkgrey;
	width:100px;
	height:100px;
	margin:0;
}

.dashboard-item-table{
	margin:10px;
	margin-bottom: 20px;
	padding-left: 20px;
	
}

.dashboard-item-table th{
	width:12vw;
	text-align: center;
	margin:20px;
}

.dashboard-item-table tr{
	text-align: center;
}

.dashboard-item-table td{
	padding-right: 10px;
	padding-top: 0;
	padding-bottom:0;
}

.item-messages{
	width:100px;
	height:100px;
	background-color: darkgrey;
	text-align: center;
	
	padding-left: 8px;
	margin:0;
}
.message-list{
	background-color: lightgrey;
	padding:0px;
	padding-bottom:20px;
}

.message-box{
	background-color: white;
	margin:15px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.message-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.message-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}


/*switcher*/
.view-tabs{
	margin:20px;
}

.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width:50%;
    
}

.tab-link:hover {
    background-color: #777;
}

/* Style the tab content */
.tab-content {
    display: none;
    
}

.item-description{
	white-space: nowrap; 
    width:11vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    
}

.item-removal-btn{
	margin-right:20px;
	color:red;
	background-color: lightgrey;
}

.remove-message-btn{
	color:red;
	background-color: lightgrey;
}


.dashboard-item-table-wrapper{
	overflow-x: auto;
	margin:20px;
}


@media (min-width: 1200px) {
    .message-list{float:initial;}
    .item-list{width:auto;}
}
