.ns{
	margin: 0;
	display: inline-block;
	float: left;
}
.header{
	color:white;
	background-color: grey;
	height: 150px;
	padding-top:20px;
}
.search-bar{
	width:300px;
	padding-top:20px;
	float:center;
}
.page-title{
	background-color: lightgrey;
	margin:20px;
	padding-left:10%;
	width:auto;
}
.filters{
	background-color: grey;
	padding-top:10px;
	padding-bottom: 10px;
}
.item-list{
	background-color: lightgrey;
	padding:0;
	width:55vw;
}

.icon-title{
	float:left;
}
.red{
	border:solid;
	border-width: 2px;
	border-color: red;
}
.blue{
	border:solid;
	border-width: 2px;
	border-color: blue;
}
.green{
	border:solid;
	border-width: 2px;
	border-color: lightgreen;
}
.body-table{
	align-self: center;
	/* width:97%; */
	margin:20px;
}
.spacer-cell{
	width:2%;
}
.filter-dropdown{
	margin-left: 50px;
}
h2{
	font-weight: bold;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.center{
	text-align: center;
	margin:auto;
}
.dashboard-item{
	background-color: white;
	border-style: solid;
	width:auto;
	margin:20px;
	
}
.item-thumbnail{
	background-color: darkgrey;
	width:100px;
	height:100px;
	margin:0;
}
.item-status{
	
}

.item-availability{
	
}

.dashboard-item-table{
	width:auto;
	margin:10px;
	width:auto;
	margin-bottom: 20px;
	
}



.dashboard-item-table th{
	width:100px;
	text-align: center;
	margin:20px;
}

.dashboard-item-table tr{
	text-align: center;
}

.dashboard-item-table tbody{
	   
}

.item-messages{
	width:100px;
	height:100px;
	background-color: darkgrey;
	text-align: center;
	padding-top:30px;
	padding-left: 8px;
	margin:0;
}
.message-list{
	background-color: lightgrey;
	padding:0px;
	float:right;
}

@media (max-width: 1200px) {
    .vanish { display: none;}
    .message-list{float:initial;}
    .item-list{width:auto;}
}
@media (min-width: 600px) {
    .dashboard-item-table{ overflow: hidden; }
    
}

.message-box{
	background-color: white;
	margin:15px;
	padding-left:15px;
	padding-right:15px;
	border:solid 1px black;
}
.message-box h4{
	color:black;
	padding:0px;
	/*border:solid red 2px;*/
}
.message-box p{
	color:darkgrey;
	font-style: italic;
	padding-top:0px;
	padding-left: 50px;
	/*border:solid blue 2px;*/
}

.spacer-cell{
	/*width:10vw;*/
}


  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

   /* Navigation Bar Categories Centered*/
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 1500px;
  }

  /* dropdown "ALL"*/
  .navbar .dropdown {
    margin-left: 266px;
    margin-top: -20px;
    margin-bottom: 12px;
  }

  /* Search Bar */
  .navbar .container {
    margin-top:-46px;
    margin-left:300px;
    margin-bottom:30px;
    width:775px;
  }

   .navbar-right {
    font-size:21px;
  }
