 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 1500px;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* section with carousels */
.col-sm-9 {
	height: 600px;
}

/* side bar navigation sizings */
.col-sm-3 {
	height: 150px;
	text-align: center;
}

/* search bar */
.navbar .search-container {
	float: right;

}

.navbar input[type=text] {
	padding: 3px 200px;
	margin-top: -10px;
	margin-left: 200px;
	margin-bottom: 10px;
	font-size: 17px;
	border: none;

}

/* search button */
.navbar .search-container button {
	float: right;
	padding: 3px 15px;

	margin-top: -6px;

	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.navbar .search-container button:hover {
	background: #ccc;
}

@media screen and (max-width: 600px) {
	.jumbotron .search-container {
		float: none;
	}
	.navbar, .navbar input[type=text], .navbar .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.navbar input[type=text] {
		border: 1px solid #fff;  
	}
} 

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height:auto;} 
}
