/* section with carousels */
.static-column {
  
  background-color:gray;

}

/* side bar navigation sizings */
.sidebar-box {
  height: 100%;
  text-align: center;
  background-color:white;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
