body {font-family: Arial, Helvetica, sans-serif;}

.cont{
    width: 75%;
    margin: auto;
    color: black;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 5px;
}
.centered {
display: flex;
align-items: center;
justify-content: center;
}
.fontSizing{
    font-size: 120%;
  }
  .fontSpacing{
    margin-right: 5%;
  }
@media (max-width: 575.98px) { 

    .screenResize{
      display: block;
      justify-content: left;
      width: 100%;
      margin-left: 1%;
      margin-right: 1%;
    }
    .vanish{
        display: none;
    }
   }
   @media (min-width: 576px) and (max-width: 767.98px) { 
      
    .screenResize{
      display: block;
      justify-content: left;
      width: 100%;
      margin-left: 1%;
      margin-right: 1%;
    }
  
    }
    @media (min-width: 768px) and (max-width: 1000px) { 
        
      .largeScreen{
        width: 100%;
      }
  }