.reg-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    margin: auto;
    color: black;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 5px;
    margin-top:50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}