body {font-family: Arial, Helvetica, sans-serif;}

.cont{
    width: 75%;
    margin: auto;
    color: black;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 5px;
}
.centered {
display: flex;
align-items: center;
justify-content: center;
}
.requireFields{
    margin: auto;
    width:auto;
}