
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }


   /* Navigation Bar Categories Centered*/
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 1500px;
  }

  /* dropdown "ALL"*/
  .navbar .dropdown {
    margin-left: 266px;
    margin-top: -60px;
    margin-bottom: 30px;
  }

  /* Search Bar */
  .navbar .container {
    margin-top:-64px;
    margin-left:300px;
    margin-bottom:30px;
    width:50vw;
  }

  .navbar-right {
    font-size:21px;
  }
