/* @import "compas/css3"; */
.header-bar{
  background-color: #290834;
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;

  justify-content: space-between;
}

.flex-container {
  list-style: none;
}

.logo{
  /*position: relative;*/
  z-index: 1;
  order:1;
  margin:20px;
}

.logo img{
  margin:20px;
  width:200px;
}

.non-logo{
  padding-top:20px;
  width:75vw;
  order:2;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.gator-navbar {
  margin-bottom: 20px;
  margin-top: 5px;

  background-color: #290834;  
  font-size:20px;
  border:none;
}

.gator-btns {
  margin-bottom: 20px;
  margin-top: 20px;
  
  background-color: #290834;  
  font-size:20px;
  border:none;

  float:right;
}

.search-input{
  width:75%;
  font-size: 14pt;
}


/* dropdown "ALL"*/
.gator-header-dropdown {
  margin: 30px;
  display:inline;
}

.orange-nav-btn{
  background-color:#FFD363;
  color:black;
  margin:5px;
  width:125px;
  transition-duration: 0.4s;
  padding:5px;
  height:40px; 
  outline: none;
  border:none;

}
.orange-nav-btn:hover{
  background-color:green;
  color:white;
}
.orange-nav-btn:active{
  background-color:green;
  color:white;
}
.navbar-nav{
  margin-top:20px;
}

.gator-search-select::-ms-expand {
  display: none;
}

.gator-search-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  margin:0;
  background-color:#FFD363;
  transition-duration: 0.4s;
  color:black;
  font-size: 14pt;
  outline: none;


}
.gator-search-select:hover{
  background-color:green;
  color:white;
}
.gator-search-select:active{
  background-color:#FFD363;
  color:white;
}
.gator-search-select:focus{
  background-color:green;
  color:white;
}
.gator-search-select:focus-within{
  background-color:green;
  color:white;
}

.input-group{
  margin:0px;
  transform: translateX(-5px);
}
.form-control{
  height:40px;
}
.input-group-btn button{
 height:40px; 
}
.navbar-toggle{
  float:left;
}

.search-label{
  color:white;
  margin-top:10px;
  margin-left:10vw;
}

@media all and (max-width: 800px){
  .gator-btns{float:left;}
  
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .search-label{
    display:none;
  }
  .input-group{transform: translateX(0px);}

  .orange-nav-btn{margin-left:0;}
}
