@import "compas/css3";
.header-bar{
  background-color: #290834;
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;

  justify-content: space-between;
}

.flex-container {
  list-style: none;
}

.logo{
  /*position: relative;*/
  z-index: 1;
  order:1;
}

.logo img{
  margin:20px;
  width:200px;
}

.non-logo{
  padding-top:20px;
  width:70%;
  order:2;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.gator-navbar {
  margin-bottom: 20px;
  margin-top: 5px;

  background-color: #290834;  
  font-size:20px;
  border:none;
}

.gator-btns {
  margin-bottom: 20px;
  margin-top: 20px;

  background-color: #290834;  
  font-size:20px;
  border:none;

  float:right;
}

.search-input{
  width:60%;
}

/* dropdown "ALL"*/
.gator-header-dropdown {
  margin: 30px;
  display:inline;
}

.orange-nav-btn{
  background-color:#FFD363;
  color:black;
  margin:5px;
  width:120px;
}

.gator-search-select::-ms-expand {
  display: none;
}

.gator-search-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  margin:0;
  background-color:#FFD363;
  color:black;
}

.gator-search-select:hover{
  background-color:#FFD363;
  color:black;
}

.gator-search-select:hover{
  background-color: green;
}

.input-group{
  margin:0px;
  transform: translateX(-5px);
}


@media all and (max-width: 800px){
  .gator-btns{float:left;}
  
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-group{transform: translateX(0px);}

  .orange-nav-btn{margin-left:0;}
}
