/* side bar navigation sizings */
.sidebar {
  height: 100%;
  background-color: white;
  text-align: center;

}

.sidebar-box{
	background: lightyellow;
	margin-bottom: 5px;
	padding:20px;
	padding-top:1px;
	margin-left: -15px;
	margin-right:-20px;

}

/* campus map image */
.sidebar-box img{
	padding:0;
	width:  15vw;
	height: 15vw;
}
